.states-container-home {
  width: 22%;
}
.list-all-cases {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.column {
  padding: 0 12px;
}

.link-home {
  list-style-type: none;
  text-decoration: none;
}

.states-names-home {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #f1f5f9;
  padding: 0px 32px;
}

.confirmed-home {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ff073a;
}

.active-home {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #007bff;
}

.recovered-home {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #28a745;
}

.deceased-home {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #6c757d;
}
.population-home {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #94a3b8;
}
.list-item {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1fr;
  padding: 10px 12px;
  border-bottom: 1px solid #475569;
}
@media (max-width: 600px) {
  .states-names-home {
    padding: 0 10px !important;
  }
}
