.main-container {
  background-color: #161625;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.search-result-container {
  list-style-type: none;
  width: 57.22%;

  margin-bottom: 64px;
}
.search-container {
  background: #2f2f43;
  border-radius: 8px;
  margin: 32px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 57.22%;
  height: 72px;
}
.search-icon {
  color: #94a3b8;
  font-size: 24px;
  margin: 0px 32px;
}

.search-bar {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 90%;
  padding-right: 20px;
  color: #94a3b8;
}

.country-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  flex-wrap: wrap;
}

.stats-block-column {
  text-align: center;
  min-width: 120px;
  margin: 0px 10px;
}

.stats-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.stats-icon {
  font-size: 38px;
}
.stats-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.red {
  color: #ff073a;
}
.blue {
  color: #007bff;
}
.green {
  color: #28a745;
}
.gray {
  color: #6c757d;
}

.list {
  list-style-type: none;
}

.all-states-table {
  width: 80%;
  background: #1e1e30;
  border: 1px solid #475569;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  align-self: center;
  min-width: 900px;
}

.table-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #475569;
}

.state-name-heading,
.other-tables-bar {
  width: auto;
  padding: 0 12px;
}

.state-table {
  margin-top: 64px;
  display: flex;
  width: 100%;
  overflow-x: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 600px) {
  .state-table {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .table-header-title,
  .state-wise-data-container {
    text-align: center;
  }
}

.table-header-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  color: #f8fafc;
}

.state-wise-data-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.states-names {
  width: 22%;
}

@media (max-width: 600px) {
  .home-columns,
  .states-container-home {
    width: auto;
    flex: 1;
  }
}

@media (max-width: 600px) {
  .states-names {
    padding: 0 10px;
  }
  .state-name-heading {
    padding: 0 10px;
  }
}
.order {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}
.order-icon {
  color: #94a3b8;
  background-color: transparent;
}

.other-tables {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (max-width: 600px) {
  .country-stats {
    width: 100%;
  }

  .stats-block-column {
    margin: 0px 5px;
  }

  .all-states-table {
    width: 100%;
    background: #1e1e30;
    border: 1px solid #475569;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    align-self: center;
    overflow-x: auto;
  }
}
